:root {
    --background-color: #EFE7E1; 
    --text-color: #704929;
    --link-color: #704929; 
}

.dark-mode {
    --background-color: #333333; 
    --text-color: #333333; 
    --link-color: #333333; 
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    // position: relative;
    
}

a {
    color: var(--link-color)
}

button {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 40px;
    padding: 20px;
    .fa-sun {
        color: #333333;
    }
    
    .fa-moon {
        color: #EFE7E1;
    }
}


footer {
    background-image: url(https://image.noelshack.com/fichiers/2024/18/4/1714605091-fast-food-fastfoodcity.jpg);
    background-position: center;
    color: var(--text-color);
    text-align: center;
    font-family: 'Flamenco';
    padding: 40px 0;
    .footer-container {
        display: flex;
        justify-content: space-around;
    }
    h2{
        letter-spacing: 2px;
        font-size: 40px;
    }
    h3 {
        margin: 20px 0;
    }
    i {
        color: var(--link-color);
        font-size: 25px;
        margin: 0 10px;
    }
}

@media screen and (min-width: 481px){
    footer {
        h2{
            letter-spacing: 2px;
            font-size: 50px;
        }
        i {
            color: var(--link-color);
            font-size: 30px;
            margin: 0 20px;
        }
    }
}