@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
:root { 
    --header-link-color: #704929; 
}

.dark-mode { 
    --header-link-color: #333333; 
}

.flamenco-light {
    font-family: "Flamenco", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .flamenco-regular {
    font-family: "Flamenco", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

header {
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;



    nav {
        display: flex;
       
    }
  
    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .logo {
        display: flex;
        width: 15%;
    }
    .Div-logo{
        display: flex;
        justify-content: start;
        width: 50%;
        margin-left: 2%;
    }

    .Div-menu{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        font-size: 1rem;
        font-weight: 800;
        gap: 1rem;
        margin-right: 2%;
        a{
            color: black;
        }
    }

    
    .dark-mode {
        background-color: black;
        color: #333333;
      }
}
