@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
:root { 
    --header-link-color: #704929; 
}

.dark-mode { 
    --header-link-color: #333333; 
}

.flamenco-light {
    font-family: "Flamenco", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .flamenco-regular {
    font-family: "Flamenco", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
// -----------------------écran gsm------------------------------------
@media screen and (max-width: 480px){
    .container {
        display: flex;
        justify-content: center;
    }
    button {
        background-color: burlywood;
        display: flex;
        justify-content: flex-end; 
        color: #DAA520; /* Couleur du texte du bouton */
        border-radius: 20%; /* Ajoute des coins arrondis */
        text-align: center; /* Centre le texte dans le bouton */
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .search{
        display: flex;
        justify-content: end;
    }
    .menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
    } 
}

// // -----------------------écran tablette------------------------------------
// @media screen and (min-width: 750px) and (max-width: 1800px){
//     .container {
//         display: flex;
//         justify-content: center;
//     }
//     button {
//         background-color: burlywood;
//         justify-content: flex-end;
//         color: brown; /* Couleur du texte du bouton */
//         border-radius: 20%; /* Ajoute des coins arrondis */
//         text-align: center; /* Centre le texte dans le bouton */
//     }
//     .menu {
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//     }
//     .logo {
//         display: flex;
//         justify-content: center;
//         width: 15%;
//     } 
// }

// -----------------------écran pc------------------------------------
header {
    background-image: url(https://cdn.discordapp.com/attachments/1225466626007236720/1234260274782146732/fast-food-fastfoodcity.png?ex=663015f4&is=662ec474&hm=37691aafce508ecfc40e6c8e2ad1e48a50249de6d7f54d9f35899df3e81e1097&);
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        display: flex;
        flex-direction: column; /* Disposer les éléments horizontalement */
        justify-content: center;
        justify-items: center;
        align-content: center;
        height: 50vh;

        
    }
    nav a {
        display: flex;
        justify-content:center ;
        align-items: end;
        margin-right: 10px;
        color: var(--header-link-color);
        text-decoration: none;
        font-family: "Flamenco", system-ui;
        font-size: 40px;
        font-weight: 800;



        
    }
    

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center; /* Ajout de la valeur align-items appropriée */
        width: 15%;
    }
    .Div-logo{
        display: flex;
        justify-content: space-around;

    }

    .Div-menu
    {
        display: flex;
        justify-content: center;
        
    }

    
    .dark-mode {
        background-color: black;
        color: #333333;
      }
}
