body {

    .card-container {
        display: flex;
        width: 30%;
        justify-content: center;
        text-align: center;
        border:  red 3px solid;

        .card {

           img {
            width: 100%;
           }

           strong {
            display: flex;
            text-align: ;
           }


        }
    }


}