:root {
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.dark-mode {
  --card-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 5%;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .div-container-menu{

        .card-container {
          justify-content: center;
          border-radius: 30px;
          color: #DAA520;
          background-color: #EFE7E1;
          box-shadow: var(--card-shadow);
          margin-bottom: 15px;
          // height: 100vh;
          width: 400px;

          .card {
            text-align: center;
            &:hover {

              img {
                transform: scale(1.15);
                transition: ease 0.5s;
              }

            }

            img {
              width: 80%;
              padding: 8%;
            }

            h2 {
              font-family: flamenco;
            }

            p {
              color: black;
              padding: 10px;
              font-weight: 400;
              font-size: medium;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
            }
            
            strong {
              display: flex;
              font-size: 1.1rem;
              justify-content: end;
              margin-right: 2%;
              margin-bottom: 15%;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
            }
          }
        }
      }
    }
    
}

@media screen and (min-width: 481px) {
  main {
    justify-content: flex-start;
    width: 70%; 
    margin: 0;

    .div-container-menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex: 1 0 50%;
      box-sizing: border-box;
      margin: 10px;
    }
  }
}

@import './styles.scss'