
.modal-filter{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 37, 37, 0.2);
    z-index: 999; 
}



.sidebar-menu {
  background: #fcfdfd;
  position: fixed;
  display: block;
  padding: 2%;
  right: -550px;
  top: 0;
  transition: right ease-in-out 0.5s;
  width: 33%;
  z-index: 99999;
  overflow-y: auto; /* Ajout du défilement vertical lorsque le contenu dépasse la hauteur de la barre latérale */
  max-height: 100%;
.text-shop {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;





    h2 {

      }

      i {



      }

}


 

  .border-grey {
    background: #F0F0F0;
    width: 100%;
    height: 1px;
    margin-bottom: 8%;
  }

  ul {
    margin: 0;
    display: block;
    position: relative;
    z-index: 0;


    .border-div-li {

        background: #F0F0F0;
        width: 100%;
        height: 1px;
        margin-bottom: 8%;
        margin-top: 5%;

      }

    li {
      display: flex;
      position: relative;
      align-items: center;
      gap: 16px;

      img {
        width: 25%;
      }

    

      .text-produit {
        width: 100%;
        margin-bottom: 6%;

        h5 {
          font-size: 1.3rem;
        }

        input {
          border: none;
          padding: 0;
          background: transparent;
          text-align: center;
        }

        .prix {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .quantite-content {
            background: #f0f0f0;
            display: flex;
            gap: 8px;
            width: fit-content;
            border-radius: 5px;
            padding: 0.833vw;
            height: 2.917vw;
          }
        }
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
        font-size: 1.3rem;
    }
  }


  .checkout-button{

    a{

      margin-top: 3%;
      border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgba(40, 37, 37, 0.5);
    padding: 0.417vw 1.25vw 0.417vw 0.417vw;
    transition: all 0.5s ease-in;
    font-size: 0.938vw;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-in;
    width: fit-content;


      h5{

        font-size: 0.7rem;

      }

      i {
        font-size: 1.2rem;

      }

    }

    .outline-a{
      background: transparent;
      color: #FF5C00;
      border: 1px solid #FF5C00;
      box-shadow: none;
      transition: all 0.5s ease-in;
    }




  }
}
